body {
  background-color: rgb(240, 234, 234);
}

.blue-p {
  color: rgba(5, 59, 236, 0.842);
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 10px;
}

#top {
  font-size: 50px;
  color: rgba(10, 10, 184, 0.842);
  text-align: center;
  font-weight: 900;
}

.photo {
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.title {
  color: rgb(248, 244, 10);
  font-family: "Arial BLack", Gadget, sans-serif;
}
