body {
  background-color: rgb(119, 221, 247);
}

.blue-p {
  color: rgba(5, 59, 236, 0.842);
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 10px;
}

#top {
  font-size: 50px;
  color: rgba(10, 10, 184, 0.842);
  text-align: center;
  font-weight: 900;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50% "";
  padding: 5px;
}

.title {
  color: rgba(248, 245, 44, 0.973);
  font-family: "Arial BLack", Gadget, sans-serif;
  padding: 10px;
  text-align: center;
}
